.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  /* // A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  background: none;
  border: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  font-weight: var(--f-wei-500);
  line-height: inherit;
}

.pending {
  opacity: 50%;
}