.container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: auto 15%;
  column-gap: var(--space-600);
  margin-block: var(--space-900);
}

.titleContainer {
  position: relative;
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: end;
  display: flex;
  flex-direction: column;
}

.h2 {
  line-height: 1;
  max-width: 80%;
}

.decorativeLine {
  height: 4px;
  background-color: var(--base-black-20);
  border-radius: var(--b-radius-100);
  margin-block: 1rem;
}

.titleImg {
  position: absolute;
  height: 7rem;
  width: auto;
}

.content {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.gridImg {
  display: none;
  /* remove this latter */
  opacity: 0.8;
}

/* left */
.container[data-direction="left"] .h2 {
  align-self: start;
}

.container[data-direction="left"] .titleImg {
  bottom: 0;
  right: 0;
  transform: translate(-10%, -15%)
}

/* right */
.container[data-direction="right"] {
  grid-template-columns: 15% auto;
}

.container[data-direction="right"] .titleContainer {
  text-align: right;
}

.container[data-direction="right"] .h2 {
  align-self: end;
}

.container[data-direction="right"] .titleImg {
  bottom: 0;
  left: 0;
  transform: translate(10%, -15%)
}

.container[data-direction="right"] .content {
  text-align: right;
}


@media (min-width: 40rem) {

  .titleImg {
    display: none;
  }

  /* left */
  .container[data-direction="left"] {
    grid-template-columns: auto 30%;
  }

  .container[data-direction="left"] .titleContainer {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .container[data-direction="left"] .content {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .container[data-direction="left"] .gridImg {
    display: block;
    grid-column: 2/3;
    grid-row: 1/3;
    place-self: end end;
  }


  /* right */
  .container[data-direction="right"] {
    grid-template-columns: 30% auto;
  }

  .container[data-direction="right"] .titleContainer {
    grid-column: -1/-2;
    grid-row: 1/2;
  }

  .container[data-direction="right"] .content {
    grid-column: -1/-2;
    grid-row: 2/3;
  }

  .container[data-direction="right"] .gridImg {
    display: block;
    grid-column: -2/-3;
    grid-row: 1/3;
    place-self: end start;
  }
}



@media (min-width: 54rem) {

  /* left */
  .container[data-direction="left"] {
    grid-template-columns: auto 20%;
  }

  .container[data-direction="right"] {
    grid-template-columns: 20% auto;
  }
}