.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--space-400);
  color: var(--primera-10);
}

.h1 {
  color: var(--primera-20);
  font-size: var(--fs-hero-100);
  text-shadow: var(--text-shadow);
  margin-block: var(--space-600) var(--space-400);
}

.subTitle {
  font-weight: var(--f-wei-600);
}

.date {
  text-align: right;
  margin-block: var(--space-300);
  font-weight: var(--f-wei-900);
  font-size: var(--fs-300);
}

.line {
  display: none;
}

.content h2:not(:first-of-type) {
  margin-top: var(--space-400);
}

.aside {
  background-color: var(--primera-100);
  border-radius: var(--b-radius-200);
  padding: var(--space-400);
  box-shadow: var(--shadow-300);
  display: flex;
  flex-direction: column;
  gap: var(--space-400);

  & img {
    border-radius: var(--b-radius-100);
  }
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: 25% 20px 1fr;
    column-gap: 20px;
    row-gap: 50px;
    margin-block-end: var(--space-900);
  }

  .header {
    grid-column: 1/-1;
    grid-row: 1/2;
    padding-inline: var(--space-900);
  }

  .h1 {
    max-width: 16ch;
    margin-block: 80px 40px;
    line-height: var(--lh-300);

  }

  .subTitle {
    padding-left: 200px;
    text-align: right;
  }

  .line {
    display: block;
    background-color: var(--primera-90);
    border-radius: 20px;
  }

  .content {
    grid-column: -2/-1;
    grid-row: 2/3;
  }

  .content h2:not(:first-of-type) {
    margin-top: 2rem;
  }

  .aside {
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: var(--b-radius-300);
    padding: 20px;

    & img {
      border-radius: 10px;
    }
  }
}