.container {

  display: grid;
  grid-template-columns: 25% 20px 1fr;
  column-gap: 20px;
  row-gap: 50px;
  color: var(--primera-10);
  margin-block-end: var(--space-900);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("@/assets/images/fondo-articulos-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: hue-rotate(260deg);
  z-index: -10;
  opacity: 0.6;
}

.header {
  grid-column: 1/-1;
  grid-row: 1/2;
  padding-inline: var(--space-900);
}

.h1 {
  color: var(--primera-20);
  font-size: var(--fs-hero-100);
  text-shadow: var(--text-shadow);
  max-width: 16ch;
  margin-block: 80px 40px;
  text-align: left;
}

.subTitle {
  font-weight: var(--f-wei-600);
  line-height: var(--lh-300);
  padding-left: 200px;
  /* max-width: 100ch; */
  text-align: right;
}

.date {
  text-align: right;
  margin-block: var(--space-300);
  font-weight: var(--f-wei-900);
  font-size: var(--fs-300);
}

.line {
  background-color: var(--primera-90);
  border-radius: 20px;
}

.content {
  grid-column: -2/-1;
  grid-row: 2/3;
}

.content h2:not(:first-of-type) {
  margin-top: 2rem;
}

.aside {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: var(--primera-100);
  border-radius: var(--b-radius-300);
  padding: 20px;
  font-size: var(--fs-300);
  text-align: right;
  box-shadow: var(--shadow-300);
}