.navContainer {
  position: fixed;
  inset: 0;
  padding: 1rem;
  z-index: 10000;
}

.navBackground {
  position: absolute;
  inset: 0;
  /* background-color: hsl(var(--clr-acentado) / 0.2); */
  backdrop-filter: blur(3px);
}

.navDrawer {
  position: absolute;
  inset: var(--space-400);
  /* top: 0;
  right: 0;
  bottom: 0;
  width: min(100%, 100%); */
  background-color: var(--secondary-11);
  color: var(--gray-2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-200);
  padding: var(--space-400);
  overflow-y: auto;
}

.details {
  padding: var(--space-200);
  margin-left: var(--space-800);
}


.summary {
  font-size: var(--fs-800);
  list-style-position: outside;
  cursor: pointer;
}

.summary::marker {
  color: var(--primary-8);
}

.navLinks {
  /* text-align: right; */
  font-size: var(--fs-500);
}

.closeBtn {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-200);
  font-size: var(--fs-500);
  font-weight: var(--f-wei-600);
  padding: 1rem 3rem;
  border: none;
  border-radius: 1em;
  box-shadow: var(--shadow-400);
  background-color: var(--primary-3);
  transition: scale 0.2s;
}

.closeBtn:hover {
  scale: 1.02
}

.closeBtn>svg {
  width: 2em;
  height: 2em;
}