.navContainer {
  position: fixed;
  inset: 0;
  padding: 1rem;
  z-index: 10000;
}

.navBackground {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(3px);
}


.navDrawer {
  position: absolute;
  inset: var(--space-400);
  background-color: var(--secondary-11);
  color: var(--gray-2);
  padding: var(--space-400);
  overflow-y: auto;
  border-radius: 2rem;
}

.innerContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: 5rem;
}

@media (min-width: 48rem) {
  .innerContainer {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 33.333%);
    gap: 1rem;
  }
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none
}

.closeBtn>svg {
  width: 2em;
  height: 2em;
  color: var(--gray-2);
}

.details {
  padding: var(--space-200);
  margin-left: var(--space-800);
}

.summary {
  font-size: var(--fs-600);
  list-style-position: outside;
  cursor: pointer;
  user-select: none;
}

.summary::marker,
.summary::-webkit-details-marker {
  color: var(--primary-8);
}

.accordion {
  /* text-align: right; */
  /* font-size: var(--fs-500); */
}