.container {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  background-color: beige;
  flex: 0 0 300px;
  border-radius: 20px;
  box-shadow: var(--shadow-400);
}

.titleContainer {
  position: relative;
  color: white;
}

.titleContainer img {
  object-fit: cover;
  aspect-ratio: 16/9;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
}

.h3 {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(2, 59, 40);
  padding: 0.4rem 1.2rem 0.4rem 1rem;
  border-start-end-radius: 5px;
  border-end-end-radius: 5px;
  opacity: 0.8;
  transform: translateY(50%);
  box-shadow: var(--shadow-400);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 1rem 1rem;
}

.link {
  align-self: end;
  color: inherit;
  font-size: 1rem;
}