.container {
  margin-block: var(--space-900);
}


.decorativeLine {
  height: var(--space-100);
  background-color: var(--base-black-20);
  margin-block: var(--space-300);
  border-radius: var(--b-radius-100);
}