.header {
  background-color: var(--primary-6);
  padding-block: min(2vw, var(--space-300));
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-100);
}

.logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo svg {
  width: auto;
  height: min(12vw, 48px);
  filter: drop-shadow(var(--shadow-400));
}

.logo .p {
  display: none;
  font-size: min(4vw, var(--fs-700));
  font-weight: var(--f-wei-900);
  font-stretch: var(--f-str-90);
  margin-left: var(--space-200);
  text-shadow: var(--shadow-400);
  color: var(--tertiary-accent);
}

.quickLinks {
  display: none;
}

.quickLinks>ul {
  display: flex;
  gap: var(--space-100);
  font-weight: var(--f-wei-500);
  padding-inline-end: var(--space-700)
}

@media (min-width: 45rem) {
  .logo .p {
    display: block;
  }
}

@media (min-width: 34rem) {
  .quickLinks {
    display: block;
  }
}