.header {
  background-color: var(--base-white-20);
  /* color: var(--primera-10); */
  padding-block: min(1.5vw, var(--space-300));
  position: sticky;
  top: 0;
  z-index: 999;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.header.down {
  top: -5.35rem;
}

.header.up {
  top: 0
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-100);
}

.logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo svg {
  height: min(12vw, 60px);
  width: auto;
  filter: drop-shadow(var(--shadow-300));
  transition: var(--transition-400);
}

.logo svg:hover,
.logo svg:focus-visible {
  scale: 1.05;
}

.logo .p {
  display: none;
  font-size: min(5vw, var(--fs-700));
  font-weight: var(--f-wei-700);
  font-stretch: var(--f-str-90);
  /* color: var(--primera-20); */
  margin-left: var(--space-300);
  /* text-shadow: var(--shadow-300); */
}

.quickLinks {
  display: none;
}

.quickLinks>ul {
  display: flex;
  gap: var(--space-100);
  font-weight: var(--f-wei-500);
  padding-inline-end: var(--space-400)
}

@media (min-width: 55rem) {
  .logo .p {
    /* display: block; */
  }
}

@media (min-width: 41rem) {
  .quickLinks {
    display: block;
  }
}