.visuallyHidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  position: absolute;
  white-space: nowrap;
}

#skipLink {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  color: var(--gray-1);
  background-color: var(--tertiary-12);
  padding: 1rem 1.4rem;
  font-size: var(--fs-500);
  font-weight: var(--f-wei-600);
  border-radius: 2em;
}