.sliderContainer {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
  gap: clamp(0.6rem, 4vw, 2rem);
  padding: var(--space-500);
  padding-block-end: var(--space-500);
  margin-block: var(--space-600);
  /* border: 1px solid black; */
}