.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background: none;
  border: none;
  padding: 0;
  color: var(--gray-15);
}

.button>svg {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--gray-15);
}