.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: var(--space-300);
  padding: var(--space-100);
  padding-inline: var(--space-200);
  border-radius: var(--space-100);
  background-color: var(--primary-5);
}

.select {
  /* // A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  background: none;
  border: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  font-weight: var(--f-wei-500);
  line-height: inherit;
}

.pending {
  opacity: 30%;
}