.container {
  margin-block: var(--space-900)
}

.h2 {
  line-height: 1;
}

.decorativeLine {
  height: var(--space-100);
  background-color: var(--base-black-20);
  margin-block: var(--space-300);
  border-radius: var(--b-radius-100);
}

.imageContainer {
  position: relative;
  border-radius: var(--b-radius-400);
  padding-block: var(--space-900);
  padding-inline: clamp(2rem, 8vw, 10rem);
  overflow: hidden;
}

.containerImg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(4) saturate(0.4);

}

.content {
  margin-block: var(--space-900);
  background-color: var(--base-white-20);
  border-radius: var(--b-radius-300);
  padding: var(--space-400);
  opacity: 0.9;
  box-shadow: var(--shadow-500);
  text-align: center;
  color: var(--segunda-10);
}

.content h3 {
  margin-block-end: var(--space-200);
}