.navContainer {
  position: fixed;
  inset: 0;
}

.navBackground {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(3px);
}


.navDrawer {
  position: absolute;
  inset: min(1vw, var(--space-400));
  background-color: var(--primera-100);
  color: var(--primera-10);
  padding-block: min(3vw, var(--space-400));
  overflow-y: auto;
  border-radius: min(2vw, var(--space-400));
  translate: 0% -110%;
  max-width: 76.5rem;
  margin-inline: auto;
}

.innerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-600);
  padding-inline: calc(var(--space-400) + 0.5rem);
  padding-block-end: var(--space-600);
  margin: auto;
}

.innerContainer>div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 21rem;
  border-top: var(--space-100) solid var(--sexta-30);
  padding-block-start: var(--space-500);
}

.innerContainer h2 {
  margin-block-end: var(--space-200);
}

.quickLinks {
  display: flex;
  justify-content: center;
  gap: var(--space-100);
  margin-block-end: var(--space-400);
  margin-inline: var(--space-600);
}

.closeBtn {
  position: fixed;
  top: min(0.4vw, var(--space-400));
  right: min(1.1vw, var(--space-400));
  padding: var(--space-200);
  border: none;
  background: none;
}

.closeBtn>svg {
  width: var(--space-800);
  height: var(--space-800);
  color: var(--sexta-30);
}

.details {
  margin-block: var(--space-200);
  background-color: var(--primera-90);
  border-radius: var(--b-radius-100)
}

/* This part is for animating details opening but it will work soon, hope so...  */
.details::details-content {
  overflow: hidden;
  block-size: 0;
  transition: block-size 0.5s, content-visibility 1s;
  transition-behavior: allow-discrete;
}

.details[open]::details-content {
  block-size: auto;
}

.details li {
  padding-block: var(--space-200);
  margin-inline-start: var(--space-300)
}

.details a {
  text-decoration: none;
}

.details a:hover,
.details a:focus {
  text-decoration: underline;
}

.summary {
  font-size: var(--fs-600);
  font-weight: var(--f-wei-800);
  font-stretch: var(--f-str-90);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  padding: var(--space-100) var(--space-300);
  background-color: var(--primera-30);
  border-radius: var(--b-radius-100);
  /* list-style-position: outside; */
  color: var(--primera-100);
}

.summary::marker,
.summary::-webkit-details-marker {
  color: var(--sexta-50);
}

.location img {
  border-radius: var(--b-radius-100);
}

.containerQuery {
  container-type: inline-size;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--space-500);
}

.timetable table {
  width: 100%;
}

.timetable th {
  text-align: left;
}

.timetable td {
  text-align: right;
}

@container (min-width: 43rem) {

  .info {
    flex-direction: row;
  }

  .info>div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
  }
}