.navContainer {
  position: fixed;
  inset: 0;
  z-index: 10000;
}

.navBackground {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(3px);
}


.navDrawer {
  position: absolute;
  inset: min(1.5vw, var(--space-400));
  background-color: var(--secondary-11);
  color: var(--gray-2);
  padding-block: min(3vw, var(--space-400));
  overflow-y: auto;
  border-radius: min(2vw, var(--space-400));
  translate: 0% -110%;
}

.innerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-600);
  max-width: 75rem;
  padding-inline: calc(var(--space-800) + 0.5rem);
  padding-block-end: var(--space-600);
  margin: auto;
}

.innerContainer>div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 21rem;
  border-top: var(--space-100) solid var(--primary-6);
  padding-block-start: var(--space-500);
}

.innerContainer h2 {
  margin-block-end: var(--space-200);
}

.quickLinks {
  display: flex;
  justify-content: center;
  gap: var(--space-100);
  margin-block-end: var(--space-400);
}

.closeBtn {
  position: fixed;
  top: min(0.4vw, var(--space-400));
  right: min(0.4vw, var(--space-400));
  border: none;
  background: none;
  padding: 0.5rem;
}

.closeBtn>svg {
  width: var(--space-700);
  height: var(--space-700);
  color: var(--gray-2);
}

.details {
  margin-block: var(--space-200);
}

/* This part is for animating details opening but it will work soon...  */
/* .details::details-content {
  block-size: 0;
  transition: block-size 0.5s ease;
  content-visibility: 1s;
  transition-behavior: allow-discrete;
}

.details[open]::details-content {
  block-size: auto;
} */

.details li {
  padding-block: var(--space-200);
  margin-inline-start: var(--space-300)
}

.details a {
  text-decoration: none;
}

.details a:hover {
  text-decoration: underline;
}

.summary {
  font-size: var(--fs-600);
  font-weight: var(--f-wei-800);
  font-stretch: var(--f-str-90);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  padding: var(--space-100) var(--space-300);
  background-color: var(--secondary-12);
  border-radius: var(--space-100);
}

.summary::marker,
.summary::-webkit-details-marker {
  color: var(--primary-8);
}

.containerQuery {
  container-type: inline-size;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--space-500);
}

@container (min-width: 43rem) {

  .info {
    flex-direction: row;
  }

  .info>div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
  }
}