.carouselContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  background-color: var(--segunda-90);
  color: var(--segunda-10);
  padding: var(--space-300);
  border-radius: var(--space-700);
  box-shadow: var(--shadow-400);
}

.slider>ul {
  /* height: max(750px, 200px); */
  border-top-left-radius: calc(var(--space-700) - var(--space-300));
  border-top-right-radius: calc(var(--space-700) - var(--space-300));
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* Hide scrollbar Firefox & Edge */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider>ul::-webkit-scrollbar {
  display: none;
}

.slider li {
  flex: 0 0 100%;
  scroll-snap-align: center;
  background-color: var(--segunda-80);
}

.slideContainer {
  /* text-align: end; */
  padding: var(--space-600);
  display: flex;
  flex-direction: column;
  background-color: var(--segunda-80);
}

.slideContainer h2 {
  font-size: var(--fs-700);
}

.slideContainer p {
  margin-block-start: var(--space-400);
  /* Safari & Firefox */
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Chromium */
  line-clamp: 6;
}

.slideContainer a {
  margin-block-start: var(--space-400);
  align-self: start;
  justify-content: space-between;
  margin-block-start: auto
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--segunda-80);
  border-bottom-left-radius: calc(var(--space-700) - var(--space-300));
  border-bottom-right-radius: calc(var(--space-700) - var(--space-300));
}

.buttonsContainer svg {
  height: 1.6rem;
  width: auto;
}

.navButton {
  padding-block: var(--space-300);
  padding-inline: var(--space-300);
  transition: var(--transition-400)
}

.navButton:hover {
  color: var(--segunda-100);
}


.tagLineContainer {
  font-size: var(--fs-200);
  text-align: center;
  margin-block-start: var(--space-100)
}

.menuCarousel {
  display: flex;
  gap: var(--space-100);
  justify-content: space-between;
  padding-inline: var(--space-400);
  margin-block: var(--space-500);
}

.menuCarouselBtn {
  color: inherit;
  flex: 1 1 0;
  font-size: var(--fs-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-200);
  border-radius: var(--space-200);
  border: 1px solid var(--segunda-30);
  transition: var(--transition-400);
}

.menuCarouselBtn:hover {
  background-color: var(--segunda-100);
  box-shadow: var(--shadow-400);
  border: 1px solid transparent;
}