.carouselContainer {
  /* position: relative; */
  align-self: stretch;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-3);
  padding: var(--space-300);
  border-radius: var(--space-700);
  box-shadow: var(--shadow-400);
  /* gap: 1rem; */
}

/* .slider {
  align-self: stretch;
  grid-row: 1 / 2;
} */

.slider>ul {
  height: min(40vh, 400px);
  border-top-left-radius: calc(var(--space-700) - var(--space-300));
  border-top-right-radius: calc(var(--space-700) - var(--space-300));
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  /* Hide scrollbar Firefox & Edge */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider>ul::-webkit-scrollbar {
  display: none;
}

.slider li {
  flex: 0 0 100%;
  scroll-snap-align: center;
  background-color: var(--primary-4)
}

.slider li>div {
  padding: 20px;

}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-4);
  border-bottom-left-radius: calc(var(--space-700) - var(--space-300));
  border-bottom-right-radius: calc(var(--space-700) - var(--space-300));
}

.buttonsContainer svg {
  height: 1.6rem;
  width: auto;
}

.navButton {
  padding-block: var(--space-300);
  padding-inline: var(--space-300);
  /* border: 1px solid red; */
}


.tagLineContainer {
  font-size: var(--fs-200);
  text-align: center;
  margin-block-start: var(--space-100)
}

.menuCarousel {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  padding-inline: 0px;
  margin-block: 20px;
  /* gap: 5px; */
}

.menuCarouselBtn {
  font-size: var(--fs-300);
}