.carouselContainer {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.navButton {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 10;
}

.navButton:hover {
  background: rgba(0, 0, 0, 0.7);
}

.slider {
  align-self: stretch;
}

.slider>ul {
  /* width: 100%; */
  height: 500px;
  display: flex;
  gap: 4vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  /* Hide scrollbar */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider>ul::-webkit-scrollbar {
  display: none;
}

.slider li {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  padding: 20px;

  flex: 0 0 100%;
  scroll-snap-align: center;
}

.slider li:nth-child(even) {
  background-color: brown;
}

.slider li:nth-child(odd) {
  background-color: rebeccapurple;
}