.carouselContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  background-color: var(--primera-100);
  color: var(--primera-10);
  padding: var(--space-300);
  border-radius: var(--space-700);
  box-shadow: var(--shadow-400);
}

.slider>ul {
  /* height: max(750px, 200px); */
  border-top-left-radius: calc(var(--space-700) - var(--space-300));
  border-top-right-radius: calc(var(--space-700) - var(--space-300));
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* Hide scrollbar Firefox & Edge */
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider>ul::-webkit-scrollbar {
  display: none;
}

.slider li {
  flex: 0 0 100%;
  scroll-snap-align: center;
  background-color: var(--primera-90);
  height: 100%;
}

.slideContainer {
  /* text-align: end; */
  padding: var(--space-600);
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--primera-90);
  height: 100%;
}

.slideContainer h2 {
  font-size: var(--fs-700);
}

.slideContainer p {
  margin-block-start: var(--space-400);
  justify-self: end;
  /* Safari & Firefox */
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Chromium */
  line-clamp: 5;
}

.btnLink {
  margin-block-start: auto
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primera-90);
  border-bottom-left-radius: calc(var(--space-700) - var(--space-300));
  border-bottom-right-radius: calc(var(--space-700) - var(--space-300));
}

.buttonsContainer svg {
  height: 1.6rem;
  width: auto;
}

.navButton {
  padding-block: var(--space-300);
  padding-inline: var(--space-300);
  transition: var(--transition-400)
}

.navButton:hover {
  color: var(--primera-40);
}


.tagLineContainer {
  font-size: var(--fs-200);
  text-align: center;
  margin-block-start: var(--space-100)
}

.menuCarousel {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-100);
  justify-content: center;
  padding-inline: var(--space-400);
  margin-block: var(--space-500);
}

.leftCollumn,
.rightCollumn {
  display: flex;
  flex: 1 1 0;
  gap: var(--space-100);
}



.menuCarouselBtn {
  color: var(--primera-20);
  flex: 1 1 0;
  font-size: var(--fs-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-200);
  border-radius: var(--space-200);
  border: 1px solid var(--primera-80);
  transition: var(--transition-400);
}

@media (min-width: 31rem) {

  /* change to container query */
  .menuCarouselBtn {
    font-size: var(--fs-200);
  }

  .slideContainer p {

    -webkit-line-clamp: 8;
    line-clamp: 8;
  }
}

.menuCarouselBtn:hover {
  background-color: var(--base-white-20);
  box-shadow: var(--shadow-400);
  border: 1px solid transparent;
}