.carouselContainer {
  /* position: relative; */
  align-self: stretch;
}


/* .slider {
  align-self: stretch;
  grid-row: 1 / 2;
} */

.slider>ul {
  /* width: 100%; */
  /* height: 500px; */
  display: flex;
  gap: 4vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  /* Hide scrollbar FIrefox & Edge */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider>ul::-webkit-scrollbar {
  display: none;
}

.slider li {
  flex: 0 0 100%;
  scroll-snap-align: center;
}

.slider li>div {
  padding: 20px;

}

.slider li:nth-child(even) {
  background-color: rgb(240, 186, 186);
}

.slider li:nth-child(odd) {
  background-color: rgb(217, 198, 235);
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  grid-row: 2 / 3;
  /* z-index: 10; */
}