.container {
  margin-block: var(--space-900);
}

.decorativeLine {
  height: var(--space-100);
  background-color: var(--base-black-20);
  margin-block: var(--space-300);
  border-radius: var(--b-radius-100);
}


.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(var(--space-300), 2vw, var(--space-400));
}