.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--space-600);
  color: var(--primera-10);
}

.h1 {
  color: var(--primera-20);
  font-size: var(--fs-hero-100);
  text-shadow: var(--text-shadow);
  margin-block: var(--space-600) var(--space-400);
}

.date {
  text-align: right;
  margin-block: var(--space-500);
  font-weight: var(--f-wei-900);
  font-size: var(--fs-300);
}

.subTitle {
  font-weight: var(--f-wei-600);
}

.line {
  display: none;
  background-color: var(--primera-90);
  border-radius: var(--b-radius-100);
}

.content h2:first-of-type {
  margin-block: var(--space-200) var(--space-400);
}

.content h2:not(:first-of-type) {
  margin-block: var(--space-800) var(--space-400);
}

@media (min-width: 44rem) {
  .container {
    grid-template-columns: 25% 1rem 1fr;
    grid-template-rows: auto auto;
    column-gap: var(--space-600);
    row-gap: var(--space-800);
    margin-block-end: clamp(var(--space-400), 2vw, var(--space-900));
  }

  .header {
    grid-column: 1/-1;
    grid-row: 1/2;
    padding-inline: clamp(var(--space-400), 6vw, 8rem);
  }

  .h1 {
    margin-block: 5rem var(--space-800);
    max-width: 16ch;
  }

  .subTitle {
    text-align: right;
    padding-inline-start: clamp(var(--space-600), 7vw, 6rem);
  }

  .line {
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .content {
    grid-column: -2/-1;
    grid-row: 2/3;
  }

  .asideContainer {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

@media (min-width: 57rem) {
  .container {
    grid-template-columns: 30% 1.6rem 1fr;
    column-gap: var(--space-800);
    row-gap: var(--space-900);
  }

  .subTitle {
    padding-inline-start: clamp(var(--space-900), 9vw, 10rem);
  }
}