.footer {
  /* background-color: var(--primera-80); */
  padding-block: var(--space-900);
  text-align: center;
  /* color: var(--primera-10); */
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-800);
  margin-block-end: var(--space-900);
}

.boxOne,
.boxTwo {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 16rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-800);
}

.boxOne>*,
.boxTwo>* {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 16rem;
}

.navLinks li {
  padding-block: var(--space-200);
}

.socialNetworks {
  display: flex;
  justify-content: center;
  gap: var(--space-200);
}

.socialNetworks svg {
  width: var(--space-900);
  height: var(--space-900);
}

.addressTitle {
  font-size: var(--fs-600);
  font-weight: var(--f-wei-800);
  font-stretch: var(--f-str-90);
  line-height: var(--lh-400);
}

.notaLegalContainer p {
  font-size: var(--fs-300);
}

.notaLegalContainer h3 {
  font-size: var(--fs-400);
}

.subscriptionBtn {
  background-color: var(--tercera-90);
}