.header {
  background-color: var(--primary-6);
  padding-block: min(1.4vw, var(--space-400));
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-100);
}

.logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo svg {
  /* width: 3rem; */
  height: min(8vw, 3rem);
  filter: drop-shadow(var(--shadow-400));
}

.logo p {
  font-size: min(4vw, var(--fs-600));
  font-weight: var(--f-wei-500);
  margin-left: var(--space-200);
  text-shadow: var(--shadow-400);
}

.quickLinks {
  display: none;
}

.quickLinks>ul {
  display: flex;
  gap: var(--space-100);
  font-weight: var(--f-wei-500);
  padding-inline-end: var(--space-900)
}

@media (min-width: 44rem) {
  .quickLinks {
    display: block;
  }
}