.titleGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* color: var(--primera-10); */
}

.title {
  color: var(--primera-30);
  font-size: var(--fs-hero-100);
  text-shadow: var(--shadow-400);
  line-height: 0.8;
  margin-block-start: -2.8rem;
}

.dentalClinic {
  text-shadow: none;
  font-size: var(--fs-700);
  color: var(--base-black-20);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-100);
}

.tagline {
  font-size: var(--fs-400);
  font-weight: var(--f-wei-600);
}

.address {
  margin-block-start: -0.4rem;
  font-size: var(--fs-200);
}

.actionGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-400);
  margin-block-start: var(--space-400);
  /* color: var(--segunda-10); */
}


.actionBtn {
  background-color: var(--tercera-30);
  color: var(--tercera-100);
  /* border: 3px solid var(--tercera-80); */
}

.rightArrow {
  display: inline-block;
  vertical-align: middle;
  margin-inline-start: var(--space-100);
  width: var(--space-500);
  height: auto;
  color: var(--tercera-30);
}

@media (min-width: 29rem) {
  .actionGroup {
    flex-direction: row;
    justify-content: center;
  }
}