@supports (color: oklch(72.13% 0.035 215.7)) {

  :root {
    --base-white-20: oklch(99.1% 0.008 91.5);
    --base-black-20: oklch(31% 0.001 17.2);

    --base-gray-1: oklch(4% 0.002 16.4);
    --base-gray-2: oklch(10% 0.002 16.6);
    --base-gray-3: oklch(18% 0.001 16.8);
    --base-gray-4: oklch(31% 0.001 17.2);
    --base-gray-5: oklch(38% 0.001 17.4);
    --base-gray-6: oklch(42% 0.001 17.6);
    --base-gray-7: oklch(50% 0.001 17.8);
    --base-gray-8: oklch(62% 0.001 18.2);
    --base-gray-9: oklch(74% 0.001 18.5);
    --base-gray-10: oklch(84% 0.001 18.8);
    --base-gray-11: oklch(90% 0.001 19);
    --base-gray-12: oklch(97% 0.001 19.2);

    --primera-100: oklch(0.96 0.02 119);
    --primera-90: oklch(0.93 0.04 119);
    --primera-80: oklch(0.88 0.07 119);
    --primera-70: oklch(0.84 0.09 119);
    --primera-60: oklch(0.79 0.12 119);
    --primera-50: oklch(0.73 0.16 119);
    --primera-40: oklch(0.62 0.15 119);
    --primera-30: oklch(0.48 0.11 119);
    --primera-20: oklch(0.4 0.1 119);
    --primera-10: oklch(0.27 0.06 119);

    --segunda-100: oklch(0.96 0.02 235);
    --segunda-90: oklch(0.93 0.04 235);
    --segunda-80: oklch(0.88 0.07 235);
    --segunda-70: oklch(0.84 0.09 235);
    --segunda-60: oklch(0.79 0.12 235);
    --segunda-50: oklch(0.73 0.16 235);
    --segunda-40: oklch(0.62 0.15 235);
    --segunda-30: oklch(0.48 0.11 235);
    --segunda-20: oklch(0.4 0.1 235);
    --segunda-10: oklch(0.27 0.06 235);

    --tercera-100: oklch(0.97 0.02 359);
    --tercera-90: oklch(0.93 0.04 359);
    --tercera-80: oklch(0.89 0.07 359);
    --tercera-70: oklch(0.86 0.09 359);
    --tercera-60: oklch(0.81 0.12 359);
    --tercera-50: oklch(0.76 0.16 359);
    --tercera-40: oklch(0.65 0.15 359);
    --tercera-30: oklch(0.5 0.11 359);
    --tercera-20: oklch(0.42 0.1 359);
    --tercera-10: oklch(0.28 0.06 359);

    --cuarta-100: oklch(0.97 0.02 298);
    --cuarta-90: oklch(0.93 0.04 298);
    --cuarta-80: oklch(0.89 0.07 298);
    --cuarta-70: oklch(0.85 0.09 298);
    --cuarta-60: oklch(0.8 0.12 298);
    --cuarta-50: oklch(0.75 0.16 298);
    --cuarta-40: oklch(0.64 0.15 298);
    --cuarta-30: oklch(0.5 0.11 298);
    --cuarta-20: oklch(0.42 0.1 298);
    --cuarta-10: oklch(0.28 0.06 298);

    --quinta-100: oklch(0.96 0.02 97);
    --quinta-90: oklch(0.93 0.04 97);
    --quinta-80: oklch(0.88 0.07 97);
    --quinta-70: oklch(0.84 0.09 97);
    --quinta-60: oklch(0.79 0.12 97);
    --quinta-50: oklch(0.73 0.16 97);
    --quinta-40: oklch(0.63 0.15 97);
    --quinta-30: oklch(0.49 0.11 97);
    --quinta-20: oklch(0.41 0.1 97);
    --quinta-10: oklch(0.27 0.06 97);

    --sexta-100: oklch(0.97 0.02 22);
    --sexta-90: oklch(0.93 0.04 22);
    --sexta-80: oklch(0.89 0.07 22);
    --sexta-70: oklch(0.85 0.09 22);
    --sexta-60: oklch(0.81 0.12 22);
    --sexta-50: oklch(0.75 0.16 22);
    --sexta-40: oklch(0.64 0.15 22);
    --sexta-30: oklch(0.5 0.11 22);
    --sexta-20: oklch(0.42 0.1 22);
    --sexta-10: oklch(0.28 0.06 22);
  }
}