/* :root {
} */

@supports (color: oklch(72.13% 0.035 215.7)) {

  :root {
    --base-white-20: oklch(99.1% 0.008 91.5);
    --base-black-20: oklch(31% 0.001 17.2);

    --base-gray-1: oklch(4% 0.002 16.4);
    --base-gray-2: oklch(10% 0.002 16.6);
    --base-gray-3: oklch(18% 0.001 16.8);
    --base-gray-4: oklch(31% 0.001 17.2);
    --base-gray-5: oklch(38% 0.001 17.4);
    --base-gray-6: oklch(42% 0.001 17.6);
    --base-gray-7: oklch(50% 0.001 17.8);
    --base-gray-8: oklch(62% 0.001 18.2);
    --base-gray-9: oklch(74% 0.001 18.5);
    --base-gray-10: oklch(84% 0.001 18.8);
    --base-gray-11: oklch(90% 0.001 19);
    --base-gray-12: oklch(97% 0.001 19.2);

    --primera-100: oklch(0.96 0.02 119);
    --primera-90: oklch(0.93 0.04 119);
    --primera-80: oklch(0.88 0.07 119);
    --primera-70: oklch(0.84 0.09 119);
    --primera-60: oklch(0.79 0.12 119);
    --primera-50: oklch(0.73 0.16 119);
    --primera-40: oklch(0.62 0.15 119);
    --primera-30: oklch(0.48 0.11 119);
    --primera-20: oklch(0.4 0.1 119);
    --primera-10: oklch(0.27 0.06 119);
    --segunda-100: oklch(0.96 0.02 235);
    --segunda-90: oklch(0.93 0.04 235);
    --segunda-80: oklch(0.88 0.07 235);
    --segunda-70: oklch(0.84 0.09 235);
    --segunda-60: oklch(0.79 0.12 235);
    --segunda-50: oklch(0.73 0.16 235);
    --segunda-40: oklch(0.62 0.15 235);
    --segunda-30: oklch(0.48 0.11 235);
    --segunda-20: oklch(0.4 0.1 235);
    --segunda-10: oklch(0.27 0.06 235);
    --tercera-100: oklch(0.97 0.02 359);
    --tercera-90: oklch(0.93 0.04 359);
    --tercera-80: oklch(0.89 0.07 359);
    --tercera-70: oklch(0.86 0.09 359);
    --tercera-60: oklch(0.81 0.12 359);
    --tercera-50: oklch(0.76 0.16 359);
    --tercera-40: oklch(0.65 0.15 359);
    --tercera-30: oklch(0.5 0.11 359);
    --tercera-20: oklch(0.42 0.1 359);
    --tercera-10: oklch(0.28 0.06 359);
    --cuarta-100: oklch(0.97 0.02 298);
    --cuarta-90: oklch(0.93 0.04 298);
    --cuarta-80: oklch(0.89 0.07 298);
    --cuarta-70: oklch(0.85 0.09 298);
    --cuarta-60: oklch(0.8 0.12 298);
    --cuarta-50: oklch(0.75 0.16 298);
    --cuarta-40: oklch(0.64 0.15 298);
    --cuarta-30: oklch(0.5 0.11 298);
    --cuarta-20: oklch(0.42 0.1 298);
    --cuarta-10: oklch(0.28 0.06 298);
    --quinta-100: oklch(0.96 0.02 97);
    --quinta-90: oklch(0.93 0.04 97);
    --quinta-80: oklch(0.88 0.07 97);
    --quinta-70: oklch(0.84 0.09 97);
    --quinta-60: oklch(0.79 0.12 97);
    --quinta-50: oklch(0.73 0.16 97);
    --quinta-40: oklch(0.63 0.15 97);
    --quinta-30: oklch(0.49 0.11 97);
    --quinta-20: oklch(0.41 0.1 97);
    --quinta-10: oklch(0.27 0.06 97);
    --sexta-100: oklch(0.97 0.02 22);
    --sexta-90: oklch(0.93 0.04 22);
    --sexta-80: oklch(0.89 0.07 22);
    --sexta-70: oklch(0.85 0.09 22);
    --sexta-60: oklch(0.81 0.12 22);
    --sexta-50: oklch(0.75 0.16 22);
    --sexta-40: oklch(0.64 0.15 22);
    --sexta-30: oklch(0.5 0.11 22);
    --sexta-20: oklch(0.42 0.1 22);
    --sexta-10: oklch(0.28 0.06 22);

    /* --primera: oklch(87.8% 0.127 119);
    --primera-base: 0;
    --primera-10: oklch(from var(--primera) 10% calc(var(--primera-base) + (sin(1.0 * pi) * c)) h);
    --primera-20: oklch(from var(--primera) 20% calc(var(--primera-base) + (sin(0.9 * pi) * c)) h);
    --primera-30: oklch(from var(--primera) 30% calc(var(--primera-base) + (sin(0.8 * pi) * c)) h);
    --primera-40: oklch(from var(--primera) 40% calc(var(--primera-base) + (sin(0.7 * pi) * c)) h);
    --primera-50: oklch(from var(--primera) 50% calc(var(--primera-base) + (sin(0.6 * pi) * c)) h);
    --primera-60: oklch(from var(--primera) 60% calc(var(--primera-base) + (sin(0.5 * pi) * c)) h);
    --primera-70: oklch(from var(--primera) 70% calc(var(--primera-base) + (sin(0.4 * pi) * c)) h);
    --primera-80: oklch(from var(--primera) 80% calc(var(--primera-base) + (sin(0.3 * pi) * c)) h);
    --primera-90: oklch(from var(--primera) 90% calc(var(--primera-base) + (sin(0.2 * pi) * c)) h);
    --primera-100: oklch(from var(--primera) 100% calc(var(--primera-base) + (sin(0.1 * pi) * c)) h);

    --segunda: oklch(82.7% 0.077 235);
    --segunda-base: 0;
    --segunda-10: oklch(from var(--segunda) 10% calc(var(--segunda-base) + (sin(1.0 * pi) * c)) h);
    --segunda-20: oklch(from var(--segunda) 20% calc(var(--segunda-base) + (sin(0.9 * pi) * c)) h);
    --segunda-30: oklch(from var(--segunda) 30% calc(var(--segunda-base) + (sin(0.8 * pi) * c)) h);
    --segunda-40: oklch(from var(--segunda) 40% calc(var(--segunda-base) + (sin(0.7 * pi) * c)) h);
    --segunda-50: oklch(from var(--segunda) 50% calc(var(--segunda-base) + (sin(0.6 * pi) * c)) h);
    --segunda-60: oklch(from var(--segunda) 60% calc(var(--segunda-base) + (sin(0.5 * pi) * c)) h);
    --segunda-70: oklch(from var(--segunda) 70% calc(var(--segunda-base) + (sin(0.4 * pi) * c)) h);
    --segunda-80: oklch(from var(--segunda) 80% calc(var(--segunda-base) + (sin(0.3 * pi) * c)) h);
    --segunda-90: oklch(from var(--segunda) 90% calc(var(--segunda-base) + (sin(0.2 * pi) * c)) h);
    --segunda-100: oklch(from var(--segunda) 100% calc(var(--segunda-base) + (sin(0.1 * pi) * c)) h);

    --tercera: oklch(79.1% 0.133 359);
    --tercera-base: 0;
    --tercera-10: oklch(from var(--tercera) 10% calc(var(--tercera-base) + (sin(1.0 * pi) * c)) h);
    --tercera-20: oklch(from var(--tercera) 20% calc(var(--tercera-base) + (sin(0.9 * pi) * c)) h);
    --tercera-30: oklch(from var(--tercera) 30% calc(var(--tercera-base) + (sin(0.8 * pi) * c)) h);
    --tercera-40: oklch(from var(--tercera) 40% calc(var(--tercera-base) + (sin(0.7 * pi) * c)) h);
    --tercera-50: oklch(from var(--tercera) 50% calc(var(--tercera-base) + (sin(0.6 * pi) * c)) h);
    --tercera-60: oklch(from var(--tercera) 60% calc(var(--tercera-base) + (sin(0.5 * pi) * c)) h);
    --tercera-70: oklch(from var(--tercera) 70% calc(var(--tercera-base) + (sin(0.4 * pi) * c)) h);
    --tercera-80: oklch(from var(--tercera) 80% calc(var(--tercera-base) + (sin(0.3 * pi) * c)) h);
    --tercera-90: oklch(from var(--tercera) 90% calc(var(--tercera-base) + (sin(0.2 * pi) * c)) h);
    --tercera-100: oklch(from var(--tercera) 100% calc(var(--tercera-base) + (sin(0.1 * pi) * c)) h);

    --cuarta: oklch(79.3% 0.085 298);
    --cuarta-base: 0;
    --cuarta-10: oklch(from var(--cuarta) 10% calc(var(--cuarta-base) + (sin(1.0 * pi) * c)) h);
    --cuarta-20: oklch(from var(--cuarta) 20% calc(var(--cuarta-base) + (sin(0.9 * pi) * c)) h);
    --cuarta-30: oklch(from var(--cuarta) 30% calc(var(--cuarta-base) + (sin(0.8 * pi) * c)) h);
    --cuarta-40: oklch(from var(--cuarta) 40% calc(var(--cuarta-base) + (sin(0.7 * pi) * c)) h);
    --cuarta-50: oklch(from var(--cuarta) 50% calc(var(--cuarta-base) + (sin(0.6 * pi) * c)) h);
    --cuarta-60: oklch(from var(--cuarta) 60% calc(var(--cuarta-base) + (sin(0.5 * pi) * c)) h);
    --cuarta-70: oklch(from var(--cuarta) 70% calc(var(--cuarta-base) + (sin(0.4 * pi) * c)) h);
    --cuarta-80: oklch(from var(--cuarta) 80% calc(var(--cuarta-base) + (sin(0.3 * pi) * c)) h);
    --cuarta-90: oklch(from var(--cuarta) 90% calc(var(--cuarta-base) + (sin(0.2 * pi) * c)) h);
    --cuarta-100: oklch(from var(--cuarta) 100% calc(var(--cuarta-base) + (sin(0.1 * pi) * c)) h);

    --quinta: oklch(91.3% 0.147 97);
    --quinta-base: 0;
    --quinta-10: oklch(from var(--quinta) 10% calc(var(--quinta-base) + (sin(1.0 * pi) * c)) h);
    --quinta-20: oklch(from var(--quinta) 20% calc(var(--quinta-base) + (sin(0.9 * pi) * c)) h);
    --quinta-30: oklch(from var(--quinta) 30% calc(var(--quinta-base) + (sin(0.8 * pi) * c)) h);
    --quinta-40: oklch(from var(--quinta) 40% calc(var(--quinta-base) + (sin(0.7 * pi) * c)) h);
    --quinta-50: oklch(from var(--quinta) 50% calc(var(--quinta-base) + (sin(0.6 * pi) * c)) h);
    --quinta-60: oklch(from var(--quinta) 60% calc(var(--quinta-base) + (sin(0.5 * pi) * c)) h);
    --quinta-70: oklch(from var(--quinta) 70% calc(var(--quinta-base) + (sin(0.4 * pi) * c)) h);
    --quinta-80: oklch(from var(--quinta) 80% calc(var(--quinta-base) + (sin(0.3 * pi) * c)) h);
    --quinta-90: oklch(from var(--quinta) 90% calc(var(--quinta-base) + (sin(0.2 * pi) * c)) h);
    --quinta-100: oklch(from var(--quinta) 100% calc(var(--quinta-base) + (sin(0.1 * pi) * c)) h);

    --sexta: oklch(73.6% 0.161 22);
    --sexta-base: 0;
    --sexta-10: oklch(from var(--sexta) 10% calc(var(--sexta-base) + (sin(1.0 * pi) * c)) h);
    --sexta-20: oklch(from var(--sexta) 20% calc(var(--sexta-base) + (sin(0.9 * pi) * c)) h);
    --sexta-30: oklch(from var(--sexta) 30% calc(var(--sexta-base) + (sin(0.8 * pi) * c)) h);
    --sexta-40: oklch(from var(--sexta) 40% calc(var(--sexta-base) + (sin(0.7 * pi) * c)) h);
    --sexta-50: oklch(from var(--sexta) 50% calc(var(--sexta-base) + (sin(0.6 * pi) * c)) h);
    --sexta-60: oklch(from var(--sexta) 60% calc(var(--sexta-base) + (sin(0.5 * pi) * c)) h);
    --sexta-70: oklch(from var(--sexta) 70% calc(var(--sexta-base) + (sin(0.4 * pi) * c)) h);
    --sexta-80: oklch(from var(--sexta) 80% calc(var(--sexta-base) + (sin(0.3 * pi) * c)) h);
    --sexta-90: oklch(from var(--sexta) 90% calc(var(--sexta-base) + (sin(0.2 * pi) * c)) h);
    --sexta-100: oklch(from var(--sexta) 100% calc(var(--sexta-base) + (sin(0.1 * pi) * c)) h); */

  }
}




/* OLD COLORS */

/* 
        --primary-1: oklch(98% 0.006 215);
        --primary-2: oklch(97% 0.012 215);
        --primary-3: oklch(93% 0.02 215);
        --primary-4: oklch(84% 0.024 215);
        --primary-5: oklch(80% 0.032 215);
        --primary-6: oklch(71% 0.038 215);
        --primary-7: oklch(66% 0.04 215);
        --primary-8: oklch(58% 0.042 215);
        --primary-9: oklch(53% 0.04 215);
        --primary-10: oklch(49% 0.038 215);
        --primary-11: oklch(42% 0.034 215);
        --primary-12: oklch(35% 0.03 215);
        --primary-13: oklch(27% 0.024 215);
        --primary-14: oklch(20% 0.018 215);
        --primary-15: oklch(16% 0.014 215);
        --primary-16: oklch(10% 0.01 215);
        --primary-accent: oklch(84% 0.1 215);
    
        --secondary-1: oklch(98% 0.006 5);
        --secondary-2: oklch(97% 0.012 5);
        --secondary-3: oklch(93% 0.02 5);
        --secondary-4: oklch(84% 0.024 5);
        --secondary-5: oklch(80% 0.032 5);
        --secondary-6: oklch(71% 0.038 5);
        --secondary-7: oklch(66% 0.04 5);
        --secondary-8: oklch(58% 0.042 5);
        --secondary-9: oklch(53% 0.04 5);
        --secondary-10: oklch(49% 0.038 5);
        --secondary-11: oklch(42% 0.034 5);
        --secondary-12: oklch(35% 0.03 5);
        --secondary-13: oklch(27% 0.024 5);
        --secondary-14: oklch(20% 0.018 5);
        --secondary-15: oklch(16% 0.014 5);
        --secondary-16: oklch(10% 0.01 5);
        --secondary-accent: oklch(84% 0.1 5);
    
        --tertiary-1: oklch(98% 0.006 65);
        --tertiary-2: oklch(97% 0.012 65);
        --tertiary-3: oklch(93% 0.02 65);
        --tertiary-4: oklch(84% 0.024 65);
        --tertiary-5: oklch(80% 0.032 65);
        --tertiary-6: oklch(71% 0.038 65);
        --tertiary-7: oklch(66% 0.04 65);
        --tertiary-8: oklch(58% 0.042 65);
        --tertiary-9: oklch(53% 0.04 65);
        --tertiary-10: oklch(49% 0.038 65);
        --tertiary-11: oklch(42% 0.034 65);
        --tertiary-12: oklch(35% 0.03 65);
        --tertiary-13: oklch(27% 0.024 65);
        --tertiary-14: oklch(20% 0.018 65);
        --tertiary-15: oklch(16% 0.014 65);
        --tertiary-16: oklch(10% 0.01 65);
        --tertiary-accent: oklch(84% 0.1 65); */