:root {
  --fs-100: clamp(0.59rem, -0.02vi + 0.52rem, 0.5rem);
  --fs-200: clamp(0.64rem, 0.10vi + 0.70rem, 0.85rem);
  --fs-300: clamp(0.8rem, 0.16vi + 0.76rem, 0.89rem);
  --fs-400: clamp(1rem, 0.33vi + 1.12rem, 1.24rem);
  --fs-500: clamp(1.25rem, 0.59vi + 1.11rem, 1.58rem);
  --fs-600: clamp(1.56rem, 0.97vi + 1.34rem, 2.11rem);
  --fs-700: clamp(1.95rem, 1.52vi + 1.6rem, 2.81rem);
  --fs-800: clamp(2.44rem, 2.31vi + 1.9rem, 3.75rem);
  --fs-900: clamp(3.05rem, 3.44vi + 2.25rem, 5rem);
  --fs-hero-100: clamp(3.5rem, 3.5vi + 3rem, 7rem);
  /* --fs-extra-200: clamp(4.052rem, 6vw, 6.5rem); */

  --f-str-75: 75%;
  --f-str-90: 90%;
  --f-str-100: 100%;
  --f-str-110: 110%;
  --f-str-125: 125%;

  --f-wei-200: 200;
  --f-wei-300: 300;
  --f-wei-400: 400;
  --f-wei-500: 500;
  --f-wei-600: 600;
  --f-wei-700: 700;
  --f-wei-800: 800;
  --f-wei-900: 900;

  --lh-100: 1;
  --lh-200: 1.2;
  --lh-300: 1.3;
  --lh-400: 1.4;
  --lh-500: 1.5;

}

h1 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-900);
  font-stretch: var(--f-str-90);
  line-height: var(--lh-300);
}

h2 {
  font-size: var(--fs-600);
  font-weight: var(--f-wei-800);
  font-stretch: var(--f-str-90);
  line-height: var(--lh-400);
}

h3 {
  font-size: var(--fs-500);
  font-weight: var(--f-wei-700);
  font-stretch: var(--f-str-100);
  line-height: var(--lh-400);
}

h4 {
  font-size: var(--fs-400);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-100);
}

strong {
  font-weight: var(--f-wei-700);
}

address {
  font: inherit;
}