@import url("css-reset.css");
@import url("colors.css");
@import url("fonts.css");
@import url("layout-grid.css");

:root {
  interpolate-size: allow-keywords;

  --space-100: 0.25rem;
  --space-200: 0.5rem;
  --space-300: 0.75rem;
  --space-400: 1rem;
  --space-500: 1.25rem;
  --space-600: 1.5rem;
  --space-700: 1.75rem;
  --space-800: 2rem;
  --space-900: 3rem;

  --shadow-300: 1px 1px 4px var(--base-gray-10);
  --shadow-400: 2px 2px 6px var(--base-gray-9);

  --transition-400: all 0.2s ease-in-out;

  --b-radius-100: 5px;
  --b-radius-200: 10px;
  --b-radius-300: 15px;
}

body {
  background-color: var(--base-white-20);
  color: var(--base-black-20);
  font-size: var(--fs-400);
  font-weight: var(--f-wei-400);
  font-stretch: var(--f-str-100);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.btn {
  cursor: pointer;
  font-weight: var(--f-wei-600);
  padding: var(--space-200) var(--space-600);
  border: 2px solid var(--base-gray-5);
  border-radius: var(--space-400);
  box-shadow: var(--shadow-400);
  text-decoration: none;
  color: inherit;
  transition: var(--transition-400);
  display: inline-block;
}

.btn:hover,
.btn:focus {
  scale: 1.02;
}

a {
  text-underline-offset: 0.13em;
}

a:hover,
:focus {
  text-decoration: none;
}

p:not(:last-child):not([class]) {
  margin-bottom: var(--space-200);
}

.flow>*:not(:last-child) {
  margin-bottom: var(--space-200);
}

.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  position: absolute;
  white-space: nowrap;
}

:focus-visible {
  outline: .375rem double var(--base-gray-6);
  box-shadow: 0 0 0 0.15rem var(--base-gray-4);
  border-radius: 0.125rem;
}