@import url("css-reset.css");
@import url("colors.css");
@import url("fonts.css");
@import url("layout-grid.css");

:root {
  interpolate-size: allow-keywords;

  --space-100: 0.25rem;
  --space-200: 0.5rem;
  --space-300: 0.75rem;
  --space-400: 1rem;
  --space-500: 1.25rem;
  --space-600: 1.5rem;
  --space-700: 1.75rem;
  --space-800: 2rem;
  --space-900: 3rem;

  --shadow-400: 2px 2px 3px var(--gray-7);
}

body {
  background-color: var(--gray-1);
  color: var(--gray-15);
  font-size: var(--fs-400);
  font-weight: var(--f-wei-400);
  font-stretch: var(--f-str-100);
}

button {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  border: none;
  font-weight: var(--f-wei-600);
  text-decoration: none;
  padding: var(--space-200) var(--space-600);
  border-radius: 16px;
  box-shadow: var(--shadow-400);
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.btn:hover,
.btn:focus {
  scale: 1.03;
}

.btnLink {
  background-color: var(--secondary-accent);
  border: 3px solid var(--secondary-12);
  color: var(--primary-16);
  font-weight: var(--f-wei-600);
  text-decoration: none;
  padding: var(--space-200) var(--space-600);
  border-radius: 16px;
  box-shadow: var(--shadow-400);
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.btnLink:hover,
.btnLink:focus {
  scale: 1.03;
}

a {
  text-underline-offset: 0.14em;
}

a:hover,
:focus {
  text-decoration: none;
}

p:not(:last-child):not([class]) {
  margin-bottom: var(--space-200);
}

.flow>*:not(:last-child) {
  margin-bottom: var(--space-200);
}

.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  position: absolute;
  white-space: nowrap;
}

:focus-visible {
  outline: 0.375rem double var(--gray-15);
  box-shadow: 0 0 0 0.25rem var(--gray-1);
  border-radius: 0.125rem;
}